@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.content {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 30px;
}
.navbar {
  /* background: #1c2237; */
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 20px 0;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: #1c2237;
}
.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 28px;
  font-weight: 600;
}
.navbar .menu-list {
  display: flex;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  /* font-weight: 500; */
  margin-left: 25px;
  transition: all 0.3s ease;
}
.menu-list li a:hover {
  color: cyan;
}

.banner {
  height: 100vh;
  background: url("banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about {
  padding: 40px 0;
}
.about .title {
  font-size: 35px;
  font-weight: 700;
}
.about p {
  padding-top: 20px;
  text-align: justify;
}

.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

/* Media query  */

@media (max-width: 868px) {
  body.disableScroll {
    overflow: hidden;
  }
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    top: 0;
    left: -100%;
    background: #1b1b1b;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    flex-direction: column;
    padding: 40px 0;
    text-align: center;
    transition: all 0.5s ease;
  }
  .navbar .menu-list.active {
    left: 0%;
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
  }
}
